body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  font-size: 24px;
  line-height: 29px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #1199c3;
/*  color: #f5a623; */
  line-height: 58px;
  display: inline;
  font-weight: lighter;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  padding: 10px;
  background-color: #1199c3;
}

h3 {
  font-style: italic;
  font-size: 27px;
  color: #000;
  line-height: 32px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 18px;
  color: #999;
  line-height: 22px;
  float: left;
}

.location-text {
  font-style: normal;
  font-size: 22px;
  color: #999;
  line-height: 24px;
  float: right;

}

p {
  clear: both;
  text-align: left;
  padding-bottom: 10px;
  font-size: 20px;
  color: #333;
  line-height: 22px;
  max-width: 75%;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.solid-bar {
  height: 15px;
  background-color: #1199c3;
}

.welcome-message {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-size: 28px;
  font-weight: normal;
  color: #f3f3f3;
  line-height: 32px;
}

#welcome-msg-h3 {
  padding-top:15px;
}

#skills-h3 {
/*  color: #f5ae23;*/
  color: #1199c3;
  display: none;
  padding:5px;
}

.orange {
/*  background-color: #f5ae23;*/
  color: #1199c3;
}

.orange-text {
/*  color: #f5ae23; color changed to blue*/
  color: #1199c3;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.white-text-skills {
  font-weight: normal;
  color: #fff;
  padding: 0px;
  margin-left: 15px;
}

.white-text-role {
  font-weight: normal;
  color: #fff;
  font-size: 28px;
  line-height: 38px;
}

.gray {
/*  background-color: #f3f3f3; */
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #000010;
/*  background-color: #4a4a4a; */
}

/* TODO: Replace with image later */
#header {
  background-color: #000010;
}

#main {
 background: url(http://www.theparamountgroup.us/images/white_wall.png);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-skills {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;
  font-size: 20px;
  line-height: 25px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 20px;
  width: 200px;
  display: none;
  margin-bottom: 15px;
}

.earthpic {
  float: right;
  padding: 10px;
  width: 200px;
  display: inline;
  margin-top: 50px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  background-color: #1199c3;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
